* {
    padding: 0;
    margin: 0;   
    box-sizing: border-box;
}

:root {

    --color-main: white;
    --color-sec: rgb(255, 248, 249);
    --color-third: black;
    --color-flair: rgb(107, 189, 189);

    --font-fam-main: 'Cormorant Garamond', serif;;
    --font-fam-sec: 'Caveat', cursive;;

    --font-col-main: black;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-sec);
    overflow-y: auto;
}

body.active {
    height: 100%;
    overflow-y: hidden;
}

/************************************************ Header & Responsive Menu */ 


header {
    top: 0;
    margin: .5em 1em 0em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    max-width: 100%;
    background-color: var(--color-main);
    position: sticky;
    z-index: 3;
}

.slide-up {
    transform: translateY(-100px);
    transition: transform .3s ease-out;
}

.slide-down {
    transform: translateY(0);
    transition: transform .3s ease-out;
}

.image-container {
    height: 7rem;
    display: none;
}

.image-container img {
    padding-top: 0px;
    height: 100%;
    width: 100%;
    object-fit: scale-down;
}

.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 2.5rem;
    background-color: var(--color-main);
    transition: linear;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    padding-bottom: 10px;
    font-family: var(--font-fam-sec);
    color: var(--font-col-main);
    font-size: 1.2em;
    letter-spacing: 1px;
}

.menu img {
    display: none;
}

.menu a {
    color: var(--color-third);
    text-decoration: none;
}

.menu a:hover {
    color: grey;
    cursor: pointer;
}

.menu-toggle {
    display: none;
}


@media only screen and (max-width: 700px) {
    header {
        position: sticky;     
        margin: 1em 1em 0em 1em;
        justify-content: start;
        flex-direction: row;
        align-items: center;
        z-index: 1;
    }

    .image-container {
        height: 6rem;
        width: 60%;
    }

    .menu-container {
        height: 100%;
        width: 40%;
    }

    .menu {
        display: flex;
        position: fixed;
        flex-direction: column;
        justify-content: flex-start;
        top: 0rem;
        left: -250%;
        width: 100%;
        height: 100vh;
        background-color: var(--color-sec);
        transition: ease-in .75s;
        z-index: 2;
    }

    .menu-image-container {
        display: flex;
        width: 100%;
    }

    .menu img {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        display: flex;
        margin: 20px 0px 50px 40%;
    }

    .menu.active {
        display: flex;
        top: 0rem;
        left: 0%;
        transition: ease-in-out .5s;
    }

    .menu a {
        padding: 20px;
        color: var(--color-flair);
        font-size: 1.4em;
    }
    .menu a:nth-child(1) {
        margin-top: 5rem;
    }

    .menu-toggle {
       /* position: fixed;  */
        position: absolute;
        right: .5%;
        top: 1rem;
        width: 2rem;
        height: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        cursor: pointer;
        transition: .5s;
        z-index: 4;
    }

    .menu-toggle.active {
        transform: rotate(-180deg);
    }

    .menu-toggle span {
        background: var(--color-flair);
        width: 100%;
        height: 3px;
        border-radius: 2px;
        filter: brightness(80%);
    }

    .menu-toggle.active span:nth-child(1) {
        position: absolute;
        background: var(--color-flair);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }
    .menu-toggle.active span:nth-child(2) {
        opacity: 0;
    }
    .menu-toggle.active span:nth-child(3) {
        position: absolute;
        background: var(--color-flair);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}

/************************************************ Home Pictures Section */ 

.home-pics {
    margin: 1em 1em 0em 1em;
    background-color: var(--color-main);
}

.home-pics-container {
    display: flex;
    justify-content: center;
    height: 35rem;
    flex-wrap: wrap;
}


.home-pic {
    height: 40%;
    width: 33%;
    padding: 4px;
    padding-bottom: 8px;
   /* filter: grayscale(100%);
    transition: .25s;   */
}

.home-pic:nth-child(1) {
    height: 60%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0px;
}

.home-pic:nth-child(2) {
    display: flex;
    height: 60%;
    width: 30%;
    align-items: center;
    justify-content: center;
}

.home-pic:hover {
    filter: none;
}

.home-pic.active {
    transition: .25s;
}

.home-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 25%;
}
.home-pic:nth-child(1) img {
    width: 75%;
    height: 75%;
    object-fit: contain;
}

.home-pic:nth-child(2) img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 14rem;
    width: 14rem;
    border-radius: 50%;
    object-position: 75% 50%;
}
@media only screen and (max-width: 1050px) {
    .home-pic:nth-child(2) img {
        height: 12rem;
        width: 12rem;
    }
}
@media only screen and (max-width: 900px) {
    .home-pic:nth-child(2) img {
        height: 10rem;
        width: 10rem;
    }
}




@media only screen and (max-width: 700px) {
    .home-pics-container {
        height: 20rem;
    }
    
    .home-pic {
        padding: 2px;
        padding-bottom: 4px;
    }

    .home-pic:nth-child(1) {
        width: 100%;
    }

    .home-pic:nth-child(1) img {
        width: 80%;
        height: 80%;
        padding-bottom: 0px;
    }

    .home-pic:nth-child(2) {
        display: none;
    }
}

/************************************************ About Section */ 

.about-me {
    margin: 1em 1em 0em 1em;
    background-color: var(--color-main);
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-container {
    margin: 2em 0;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-container h3 {
    font-family: var(--font-fam-sec);
    color: var(--font-col-main);
    font-size: 1.4em;
    margin-bottom: 2rem;
    letter-spacing: 1px;
}

.about-container p {
    font-family: var(--font-fam-main);
    font-weight: bold;
    font-size: 16px;
    line-height: 1.65;
}

.about-container a {
    text-decoration: none;
    font-style: oblique;
    color: var(--color-flair);
    font-size: 17px;
}

.about-container a:hover {
    text-decoration: underline 1px solid var(--color-flair);
}

#more-text {
    display: none;
}

#more-text-button {
    color: var(--font-col-main);
    background-color: var(--color-sec);
    border: 1px solid black;
    border-radius: 5px;
    width: 6rem;
    padding: .2rem;
    text-align: center;
    transition: .5s;
    font-family: var(--font-fam-sec);
    font-size: 1.1em;
    letter-spacing: 1px;
}
#more-text-button:hover {
    cursor: pointer;
    background-color: var(--color-flair);
    border: none;
    color: var(--color-sec);
    transition: .5s;
    filter: opacity(.7);
}


@media only screen and (max-width: 700px) {
    .about-container {
        margin-top: 5rem;
    }
}

/************************************************ Demos Section */ 

.demos {
    margin: 1em 1em 0em 1em;
    background-color: var(--color-main);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.demos h3 {
    font-family: var(--font-fam-sec);
    color: var(--font-col-main);
    font-size: 1.4em;
    margin: 2rem 0rem;
    letter-spacing: 1px;
}

.audio-sound-1 { grid-area: a-s-1; }
.audio-sound-2 { grid-area: a-s-2; }
.audio-sound-3 { grid-area: a-s-3; }
.audio-sound-4 { grid-area: a-s-4; }
.services-offered { grid-area: s-o; }

.demos-container {
    width: 100%;
  /*  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;    */

    display: grid;
    grid-template-areas: 
        'a-s-1 a-s-1 a-s-1 a-s-1 s-o s-o'
        'a-s-2 a-s-2 a-s-2 a-s-2 s-o s-o'
        'a-s-3 a-s-3 a-s-3 a-s-3 s-o s-o'
        'a-s-4 a-s-4 a-s-4 a-s-4 s-o s-o';
    justify-content: space-evenly;
}

/*********** Services Section */

.services-offered {
    background-color: var(--color-sec);
    margin-right: 10px;
    margin-bottom: 2em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    padding: 20px;

    inline-size: 400px;

    font-family: var(--font-fam-main);
    font-weight: bold;
    font-size: 16px;
    line-height: 1.65;
}

.services-offered h3 {
    font-family: var(--font-fam-sec);
    margin: 0px 0px 2em 0px;
}

.services-offered-section div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.services-offered-section div p {
    padding: 5px;
    margin: 5px;
    border: 1px solid var(--color-flair);
    border-radius: 4px;
}

.services-offered-section div p:hover {
    background: var(--color-main);
}

.services-offered-section h5 {
    font-size: 20px;
    font-weight: bolder;
    margin-top: 1em;
}

.voice-styles h5 {
    margin-top: 0em;
}

.services-offered-section p a {
    text-decoration: none;
    font-style: oblique;
    color: var(--color-flair);
    font-size: 17px;
}
.services-offered-section p a:hover {
    text-decoration: underline 1px solid var(--color-flair);
}

/*********** Demos Section */

.audio-container {
    display: flex;
    flex-direction: column;  
  /*  flex-direction: column;   */

    align-items: center;
    justify-content: space-evenly;    
  /*  justify-content: flex-start;      */

  /*  width: 80%;   most recent */          /* all of these commented out are for the old size and shape, should the client re-change mind */
  /*  width: 40%;   */

   /* height: auto; */
   /* height: 25rem;    */

    margin: 1.5em 2em 3em 2em;    
  /*  margin: 1.5em 2em 0em 2em;    */

  /*  padding: 0px 25px;    */
    border-radius: 5px;
}

.audio-container:nth-child(3) {
  /*  margin-bottom: 2em;   */
}

.audio-container:nth-child(4) {
   /* margin-bottom: 4.5em;     */
    margin-bottom: 2em;
}
.audio-container:hover   {
  background-color: var(--color-sec);
  transition: .2s;
}


.play-pause-container {
    height: 5rem;
    margin: 15px;
    transition: .2s;
}
.play-pause-container:hover {
    height: 5.15rem;
}

.play-pause-container img {
    height: 100%;
    width: 100%;
    object-fit: scale-down;
    opacity: 1;
}
.play-pause-container img:hover {
    cursor: pointer;
    opacity: 1;
}

.audio-sound {
  /*  margin-right: 20px;   */
    background-size: cover;
  /*  width: 40%;   */
    width: 90%;
    height: 14rem;          /* previously none*/
    display: flex;                  /* previously none*/
    flex-direction: column;         /* previously none*/
    justify-content: flex-end;      /* previously none*/
    padding-bottom: 2px;            /* previously none*/
    background-image: url(images/Studio/studio10.jpeg);
  /*  background-position: 50% 40%;    this is for the old picture (i think studio6)     */
    background-position: 90% 30%;

    border-radius: 4px;
}


audio {
    height: 1.5rem;
    margin-top: 1rem;
    width: 100%;
}


.audio-text-container {
   /* width: 50%;   */
    width: 100%;
    height: auto;
    margin: 1em 0em 3em 1.5em;
    padding-left: 20px;
}

.audio-text-container p {
    height: auto;
    margin-top: 1rem;
    line-height: 1.3;
    display: flex;
    align-items: center;
    font-family: var(--font-fam-main);
    font-weight: bolder;
    font-size: 18px;
    font-style: italic;
    line-height: 1.65;
}



audio::-webkit-media-controls-panel {
    background-color: var(--color-sec);
}
audio::-webkit-media-controls-play-button {
    display: none;
}

audio::-webkit-media-controls-current-time-display, audio::-webkit-media-controls-time-remaining-display {
    font-family: var(--font-fam-sec);
    font-size: 1.6em;
}

@media only screen and (max-width: 1000px) {
    .services-offered {
        inline-size: 350px;
    }
}

@media only screen and (max-width: 700px) {
    .demos-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .services-offered {
        background-color: var(--color-main);
        margin-right: 0px;
        margin-bottom: 2em;
        width: 100%;
    }

    .services-offered p {
        width: 100%;
    }

    .audio-container {
        margin: 2em 2em;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        margin: 1em;
        margin-bottom: 2em;

        height: 18rem;

        padding: 0px 25px;
    }

    .audio-sound {
        margin-right: 0px;
        margin-top: 25px;
        width: 100%;
    }

    .audio-text-container {
        display: flex;
        width: 100%;
        margin: .5em 0em;
    }

    .audio-text-container p {
        align-items: flex-start;
    }

    .demos h3 {
        font-size: 1.4em;
    }
}



/************************************************ Reviews Section */ 

.reviews {
    margin: 1em 1em 0em 1em;
    background-color: var(--color-main);
    display: flex;
    align-items: center;
    justify-content: center;
}

.reviews-container {
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.reviews-container h3 {
    font-family: var(--font-fam-sec);
    color: var(--font-col-main);
    font-size: 1.4em;
    margin-bottom: 2rem;
    letter-spacing: 1px;
}

.slideshow-container {
    height: auto;
}

.review-slide {
    display: none;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.review {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    margin: 2em;
    width: 35%;
    height: 14rem;
    font-family: var(--font-fam-main);
}

.review-text {
    font-weight: bolder;
    text-align: center;
}

.review-text::before {
    content:  ' " ';
    font-size: 22px;

    position: relative;
    left: -1%;
}
.review-text::after {
    content: ' " ';
    font-size: 22px;
    position: relative;
    left: 1%;
}

.arrows {
    margin: 2rem 0rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.arrows-container {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.arrows a {
    font-size: 5vmin;
    color: var(--font-col-main);
}
.arrows a:hover {
    cursor: pointer;
    color: grey;
    transition: .2s;
}

@media only screen and (max-width: 1200px) {
    .review {
        height: 16rem;
    }
}
@media only screen and (max-width: 1000px) {
    .review {
        height: 22rem;
    }
}
@media only screen and (max-width: 900px) {
    .review {
        height: 24rem;
    }
}

@media only screen and (max-width: 700px) {
    .review {
        height: 14rem;
        width: 80%;
    }
    .review:nth-child(2), .review:nth-child(3) {
        display: none;
    }

    .arrows {
        margin-top: 1rem;
    }
    .arrows-container {
        width: 60%;
    }
    .arrows a {
        font-size: 8vmin;
    }
}

@media only screen and (max-width: 700px) {
    .review {
        height: 22rem;
    }
}


/************************************************ Company Logos Section */ 

.company-logos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em 1em 1em 1em;
    background-color: var(--color-main);
    height: auto;
}

.c-l-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.c-l-container h3 {
    font-family: var(--font-fam-sec);
    color: var(--font-col-main);
    font-size: 1.4em;
    margin: 2rem 0rem;
    letter-spacing: 1px;
}

.c-l-container img {
    padding: 10px;
    margin: 10px 50px 20px 50px;
    height: 100px;
} 

.logo-slides {
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.logo-fade {
    animation: logo-fade ease-in-out 2s;
}
@keyframes logo-fade {
    from {opacity: .1;}
    to {opacity: 1;}
}

@media only screen and (max-width: 700px) {

    .c-l-container {
        flex-direction: column;
    }
    .c-l-container img {
        height: 60px;
        margin: 20px;
    }

    .logo-slides {
        height: 15rem;
    }

}


/************************************************ Contact Section */ 


.contact {
    margin: 1em;
    background-color: var(--color-main);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact h3 {
    font-family: var(--font-fam-sec);
    color: var(--font-col-main);
    font-size: 1.4em;
    margin: 2rem 0rem;
    letter-spacing: 1px;
}

.contact-container {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 2em 0em;
}

/*********** Contact Form */

form {
    height: auto;
    width: 80%;
}

input {
    height: 2rem;
}

input, textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--color-flair);
    width: 100%;
    font-size: 1em;
    font-family: var(--font-fam-main);
    font-weight: bolder;
}
input::placeholder {
    color: var(--color-flair);
}
textarea::placeholder {
    color: var(--color-flair);
}
input, textarea:focus {
    outline: none;
}

textarea {
    padding-top: .5em;
}

#send-button {
    color: var(--color-flair);
    background-color: var(--color-sec);
    border: 1px solid var(--color-flair);
    border-radius: 5px;
    width: 100%;
    padding: .2rem;
    text-align: center;
    transition: .5s;
    font-family: var(--font-fam-sec);
    font-size: 1.3em;
    letter-spacing: 1px;
}

#send-button:hover {
    cursor: pointer;
    background-color: var(--color-flair);
    border: none;
    color: var(--color-sec);
    transition: .5s;
    filter: opacity(.7);
}

/*********** Social Media Icons */


.social-media {
    height: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 2em 0em;
}

.social-media h4 {
    font-family: var(--font-fam-sec);
    color: var(--font-col-main);
    font-size: 1.4em;
    margin: 2.5rem 0rem 1rem 0rem;
    letter-spacing: 1px;
}

.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.icon-wrapper {
    margin-bottom: 1.5em;
}

.icon-wrapper img {
   height: 2.5rem;
   width: 2.5rem;
   margin: 25px;
   filter: saturate(65%);
}

@media only screen and (max-width: 700px) {
    .social-media {
        margin-top: 3rem;
    }
    .social-media h4 {
        font-size: 1.3em;
        margin-bottom: 3rem;
    }
    .icon-wrapper {
        margin-bottom: 0em;
    }
}


/****** Spotlight icon imported from spotlight */

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,700,700i);

.spotlight-icon {
    margin-top: .5em;
}

@media only screen and (max-width: 700px) {
    .spotlight-icon {
        margin-top: 1em;
    }
}

.pill-link-ftWlfDH57w {
    text-decoration: none;
}



.pill-ftWlfDH57w {
    background-color: #4e4d92;
    max-width: 100%;
    padding: 4px 6px;
    border-radius: 17.5px;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    font-family: Source Sans Pro, sans-serif;
}

.pill__icon-img-ftWlfDH57w {
    height: 20px;
}

.pill__children-container-ftWlfDH57w {
    font-size: 10px;
    color: #fff;
    padding-bottom: 1px;
    margin: 0 4px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 600;
}
